<a href="https://colab.research.google.com/github/Niko55/Project_Course_Term6/blob/master/UCB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/JKCooper2/gym-bandits

fatal: destination path 'gym-bandits' already exists and is not an empty directory.

In [2]:
cd gym-bandits

/content/gym-bandits

In [3]:
pip install .

Processing /content/gym-bandits
Requirement already satisfied: gym in /usr/local/lib/python3.6/dist-packages (from gym-bandits==0.0.2) (0.15.6)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from gym->gym-bandits==0.0.2) (1.12.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from gym->gym-bandits==0.0.2) (1.17.5)
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from gym->gym-bandits==0.0.2) (1.4.10)
Requirement already satisfied: cloudpickle~=1.2.0 in /usr/local/lib/python3.6/dist-packages (from gym->gym-bandits==0.0.2) (1.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gym->gym-bandits==0.0.2) (1.4.1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyglet<=1.5.0,>=1.4.0->gym->gym-bandits==0.0.2) (0.16.0)
Building wheels for collected packages: gym-bandits
  Building wheel for gym-bandits (setup.py) ... done
  Created wheel for gym-bandits: filename=gym_bandits-0.0.2-cp36-none-any.whl size=5180 sha256=073be169b78533f65d13f082c7fcb446a8aedd36cf537f32333dd668993f50e2
  Stored in directory: /root/.cache/pip/wheels/3a/f5/8a/043c9375d0a49bf4a5d102e93e5868a54ddaaf6508d88e4edc
Successfully built gym-bandits
Installing collected packages: gym-bandits
  Found existing installation: gym-bandits 0.0.2
    Uninstalling gym-bandits-0.0.2:
      Successfully uninstalled gym-bandits-0.0.2
Successfully installed gym-bandits-0.0.2

In [0]:
import gym_bandits
import gym
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
env = gym.make("BanditTenArmedGaussian-v0")

In [0]:
## Creating datasets randomly
df = pd.DataFrame()
df['Headline_0'] = np.random.randint(0,2,100000)
df['Headline_1'] = np.random.randint(0,2,100000)
df['Headline_2'] = np.random.randint(0,2,100000)
df['Headline_3'] = np.random.randint(0,2,100000)
df['Headline_4'] = np.random.randint(0,2,100000)

In [6]:
df.head(10)

   Headline_0  Headline_1  Headline_2  Headline_3  Headline_4
0           1           0           1           0           0
1           0           1           1           1           1
2           0           0           1           0           1
3           1           0           1           1           1
4           0           1           0           0           0
5           1           1           1           0           0
6           1           1           0           0           1
7           0           1           0           0           0
8           0           0           0           1           1
9           0           0           1           1           1

In [0]:
# number of banners
num_banner = 5

# number of iterations
no_of_iterations = 100000

# list for storing banners which are selected
banner_selected = []

# count number of times the banner was selected
count = np.zeros(num_banner)

# Q value of the banner
Q = np.zeros(num_banner)

# sum of rewards obtained by the banner
sum_rewards = np.zeros(num_banner)

In [0]:
def UCB(iters):
    
    ucb = np.zeros(10)
    
    #explore all the arms
    if iters < 10:
        return i
    
    else:
        for arm in range(10):
            
            # calculate upper bound
            upper_bound = math.sqrt((2*math.log(sum(count))) / count[arm])
            
            # add upper bound to the Q valyue
            ucb[arm] = Q[arm] + upper_bound
            
        # return the arm which has maximum value
        return (np.argmax(ucb))

In [0]:
for i in range(no_of_iterations):
    
    # select the banner using epsilon greedy policy
    banner = UCB(i)
        
    # get the reward
    reward = df.values[i, banner]
    
    # update the selected banner count
    count[banner] += 1
    
    # sum the rewards obtained by that banner
    sum_rewards[banner]+=reward
    
    # calculate the Q value of the banner
    Q[banner] = sum_rewards[banner]/count[banner]
    
    banner_selected.append(banner)

In [0]:
sns.distplot(banner_selected)